* {
  font-family: "Monserrat", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.navbar {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: turquoise;
}
.navbar .max-width {
  display: flex;
  justify-content: space-between;
}
